* {
    box-sizing: border-box;
}

body {
    padding: 0;
}

.sticky-bar {
    position: sticky;
    margin-top: 35px;
    top: 15%;
    border: 1px rgb(255, 182, 46) solid;
    box-shadow: 1px 5px gainsboro;
    width: 40%;
    height: 25vh;
    background-color: white;
    border-radius: 15px;
}

.top-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 400px 20px;
    align-items: center;
    border-bottom: 1px rgba(133, 132, 132, 0.212) solid;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 2;
}

.logo img, .logo {
    width: 100px;
    height: 90px;
    flex-grow: 1;
}

.logo img:hover {
    cursor: pointer;
}

.search-container {
    display: flex;
    margin: 5px;
    border: rgba(133, 132, 132, 0.212) 1px solid;
    border-radius: 20px;
    height: 40px;
    padding: 4px;
    gap: 10px;
}

#search-bar {
    padding: 6px;
    font-size: 15px;
    border:none;
    border-radius: 20px;
}

.search-icon {
    border: none;
    border-radius: 30px;
    height: 30px;
    width: 60px;
    background-color: rgb(255, 182, 46);
}

.search-icon:hover {
    cursor: pointer;
    background-color: gainsboro;
}

.profile {
    display: flex;
    flex-wrap: wrap;
    flex-grow:0;
    justify-content: flex-end;
    gap:20px;
    padding: 10px;
    margin: 5px;
    height: 40px;
}

.join button {
    background-color: white;
    border: none;
}

.globe button:hover, .personal button:hover, .join button:hover {
    cursor: pointer;
}

.globe img, .globe button, .personal img, .personal button {
    width: 20px;
    height: 20px;
    background-color: white;
    border: none;
}

.appartment-decription {
    padding: 10px 400px 20px;
    z-index: 0;
}

.appartment__header {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.appartment__header h1 {
    flex-grow: 2;
    flex-basis: 100%;
}

.appartment__header button {
    background-color: white;
    border: none;
}

.appartment__header button:hover {
    cursor: pointer;
}

.appartment__pics {
    display: flex;
    flex-wrap: wrap;
    flex: 50%;
}

.appartment__pics .group {
    display: flex;
    flex-direction: column;
}

.appartment__pics .pic-1 {
    border: 1px rgba(133, 132, 132, 0.212) solid;
    width: 500px;
    height: 500px;
}
.appartment__pics .pic-2, .pic-3, .pic-4, .pic-5  {
    border: 1px rgba(133, 132, 132, 0.212) solid;
    width: 290px;
    height: 250px;
}

.body-container {
    border-top: 1px rgba(133, 132, 132, 0.212) solid;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.appartment__available {
    width: 60%;
    height: 100vh;
}

.appartment__offers {
    padding: 20px;
    margin-top: 40px;
    border-top: 1px rgba(133, 132, 132, 0.212) solid;
    border-bottom: 1px rgba(133, 132, 132, 0.212) solid;
}

.appartment__dates {
    padding: 20px;
    margin-top: 40px;
    border-top: 1px rgba(133, 132, 132, 0.212) solid;
    border: 1px rgba(133, 132, 132, 0.212) solid;
    width: 600px;
    height: 300px;
}

.appartment__hidden-div {
    display: none;
    border: 1px solid black;
    margin: 50px;
    height: 100px;
    text-align: center;
}

.google-maps {
    padding: 0px 400px 10px;
    border-bottom: 1px rgba(133, 132, 132, 0.212) solid;
    margin-bottom: 10px;
}

.google-maps img {
    width: 1080px;
    height: 600px;
}

.bottom-bar {
    display: flex;
    flex-wrap: nowrap;
    padding: 0px 400px 0px;
    margin-top: 10px;
    gap: 15px;
}

.rights {
    flex-grow: 1;
}

.contact img, .contact, .facebook img, .facebook, .instagram img, .instagram {
    width: 20px;
    height: 20px;
    flex-grow: 0;
    margin-top: 5px;
}

.contact img:hover ,.facebook img, .facebook, .instagram img, .instagram {
    cursor: pointer;
}